{% extends "blog/base.html" %}

{% block title %}Recent{% endblock %}

{% block post_page_details %}Recent Blog Posts{% endblock post_page_details %}

{% block post_header %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 animated fadeInDown">
            <div class="intro-text">
                <h1 class="name" id="title">{{post.title}}</h1>
                <hr class="star-primary">
            </div>
        </div>
    </div>
</div>
{% endblock post_header %}

{% block post_content %}
<div class="container animated fadeInUp halfheight">
    {{post.content|safe}}
</div>
{% endblock post_content %}